textarea {
	max-width: 600px;
	max-height: 400px;
	outline: none;
	border: 2px solid hsl(30,100%,40%);
	color: hsl(30,100%,30%);
} ::selection {
	background-color: hsl(30,100%,80%);
} ::selection, h3, p {
	color: hsl(30,100%,40%);
} h3, p, textarea {
	font-family: Roboto, Arial;
	text-align: center;
} #icon {
	width: 40px;
} #title {
	display: inline;
	letter-spacing: 2px;
}