body {
	margin: 16px;
} textarea {
	max-width: 600px;
	max-height: 400px;
	outline: none;
	border: 2px solid hsl(30,100%,40%);
	color: hsl(30,100%,30%);
} ::selection {
	background-color: hsl(30,100%,80%);
} ::selection, h3, p {
	color: hsl(30,100%,40%);
} h3, p, textarea {
	font-family: Arial;
	text-align: center;
} h3, p {
	margin: 8px 0;
} #icon {
	margin: 0 auto;
	display: block;
	width: 36px;
} #title {
	letter-spacing: 1px;
}